* {
	border: 0; 
	padding: 0;
	margin: 0;
}
body {
	display: grid;
	grid-template-columns: 1fr 2fr;
	color: white;
}
header {
	background-color: pink;
	padding: 2rem;
	margin-right: -2rem;
	position: relative;
}
main {
	background-color: black;
	padding: 2rem;
	display: flex;
	align-items: center;
}
footer {
	padding: 2rem;
	background-color: cadetblue;
}