* {
	border: 0; 
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	display: grid;
	grid-template-rows: 1fr 2fr;
	grid-template-columns: repeat(4, 1fr);
	color: white;	
	max-width: 1200px;
	margin: 0 auto;
}
body * {
	max-width: 1200px;
	margin: 0 auto;
}
header {
	background-color: pink;
	padding: 4rem;
	grid-column: span 2;
}
main {
	background-color: black;
	padding: 1rem;
	grid-row: span 2;
	display: flex;
	align-items: center;
}
footer {
	background-color: cadetblue;
	transform: rotate(2deg) translateY(-20px);
	padding: 2rem;
	grid-column: span 3;
	display: flex;
	align-items: center;
}
.black {
	color: black;
}